h1,h3{
    color: darkred;
    
}

.theme1{
    overflow: hidden;
    background-color: rgb(245, 245, 164);
    padding: 30px;
    margin: 50px;
    box-shadow: 3px 3px 3px yellow;
    font-family: arial, sans-serif;
    border-radius: 10px;
    border: 1px solid black;
}

.theme2{
    overflow: hidden;
    background-color: rgb(8, 107, 212);
    padding: 30px;
    margin: 50px;
    box-shadow: 3px 3px 3px rgb(101, 131, 240);
    font-family: courier, monospace;
    border: 1px solid black;

}

button{
    border-radius: 5px;
    background-color: green;
    padding:5px;
    color: rgb(246, 243, 243);
}